<ion-modal-view title="">
    <div class="bar bar-header bar-light">
        <p>Select Your Country</p> <button class="button button-clear pull-right" ng-click="selectListHide()">Close</button>
    </div>
    <ion-content class="has-header">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search for country" ng-model="searchCont">
            </label>
        </div>
        <div class="card" style="padding-top: 10px;">
            <div class="list">
                <div class="col" ng-repeat="item in countries|filter:searchCont" ng-click="changeCountrySelected(item)">
                        <p>{{item}}</p>
                </div>
                <div class="list padding" ng-hide="customers.length">
                    <span class="ion ion-android-warning">
                        No country that matches your match.
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>