<ion-view style="/* background-image: url('img/login-processes_2.png');  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */">
    <!--to the top menu,,,-->

    <ion-content class="has-header padding myBackImg">

        <!--The select inputs.-->
        <form ng-submit="SellProducts()" class="list">
            <div>
                <div class="row">
                    <span class="col col-66" style="font-weight: bolder;
                    text-align: center; font-size: larger">{{business}}</span>
                    <span class="col col-33" style="font-size: smaller;font-style: italic">{{branch}}</span>
                </div>

<!--

                <div class="row text-center">
                    <span class="col col-40">{{business}}</span>
                    <span class="col col-40">{{branch}}</span>
                </div>
-->
                <!--<p style="text-align: center; height: 15px">
                    <span class="col">{{sale.locationName|limitTo:24}}</span>
                </p>-->
               <!-- <div class="button-bar" >

                </div>
                <div class="button-bar" style="height: 35px">
                    <a class="button">{{sale.locationName|limitTo:24}}</a>
                </div>-->

                <label class="item item-input item-select" ng-click="changeCustomer()">
                    <div class="input-label">
                        Customer:
                    </div>
                    <spam class="pull-right">
                        {{sale.customer.full_name|limitTo:13}}
                    </spam>
                    <!--<select ng-model="sale.customer">
                      <option ng-repeat="item in customers" value="item.id">{{item.first_name}} {{item.last_name}} </option>
                    </select>-->
                </label>


                <div class="list" style="margin-top: 35px">
                    <ion-item class="row"  ng-repeat="item in shoppingList" style="max-height: 45px; width: 100%"
                              on-swipe-left="removeShoppingList(item)" on-hold="updateQShoppingList(item)">
                        <div class="col col-40">{{item.item_name|limitTo:13}}</div>
                        <div class="col col-20">{{item.product_price}}</div>
                        <input type="hidden" ng-model="item.item_name">
                        <input type="hidden" ng-model="item.quantity">
                        <input type="hidden" ng-model="item.product_price">
                        <small class="col col-10">{{item.quantity}}</small>
                        <button type="button" class="button button-small col col-10"  ng-click="addQShoppingList(item)">
                            <i class="ion ion-plus" style="color: #2befbe;"></i>
                        </button>
                        <button type="button" class="button button-small col col-10 col-offset-10"
                                ng-click="deleteShoppingList(item)">
                            <i class="ion ion-minus"  style="color: red"></i>
                        </button>
                    </ion-item>
                </div>

                <p ng-show="!shoppingList.length" class="padding">
                    No item in your cart.
                </p>
                <!-- <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
                   <button class="button button-block button-positive" type="button"> {{ currentDate | date:'dd - MMMM - yyyy' }}    </button>
                 </ionic-datepicker>-->
            </div>
        </form>
        <!--<button class="button button-positive button-small pull-right"
                style="right: 0; bottom: 0" ng-click="add_product()">Add</button>-->
    </ion-content>
    <!--<button class="button button-clear button-small pull-right" style="background-color: #434858; color: #f5f6fa"
                     ng-click="add_product()">Add</button>-->
    <div class="bar bar-subfooter text-center">
        <button class="button col" ng-click="suspend()"><i class="icon ion-flash-off"></i> Suspend</button>
        <button class="button col"  ng-click="add_product()" style=" background-color: #434858">
            <i class="icon ion-plus" style="color: #2befbe;"></i></button>
        <div class="col" style="background-color: #f5f6fa; color: #434858">Kshs.<span id="total" ng-model="sale.TotalAmount">{{getTotal()}}</span> </div>
    </div>

    <div class="bar bar-footer text-center">
        <button class="button col" ng-click="closeThisOrder()"><i class="icon ion-android-cancel"></i> Cancel</button>
        <button class="button col" ng-click="goToOrders()"><i class="icon ion-ios-barcode"></i> Orders</button>
        <button class="col" ng-click="payForProds()"><i class="icon ion-card"></i> Payment </button>
    </div>
</ion-view>
