<ion-view style="background-color: #f5f6fa;/* background-image: url('img/login-processes_2.png');  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */">

  <ion-content>
    <ion-list class="list">
      <ion-item ng-repeat="item in notifications" ng-show="notifications.length">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </ion-item>
      <ion-item ng-hide="notifications.length" class="text-center">
        No new notifications.
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
