 <ion-modal-view title="">
    <div class="bar bar-header bar-light" style="background-color: #434858">
        <span><img src="img/favicon-32x32.png" alt="UP" height="30px" width="60px"
                   style="padding-left: 30px"></span>
        <p class="title text-center" style="color: #f5f6fa;">Check out</p>
        <button class="button button-clear pull-right" ng-click="closePaymentMod()">
            <i class="ion ion-ios-close" style="font-size: 30px; color: #f5f6fa"></i></button>
    </div>
    <ion-content style="background-image: url('img/pos_bg.jpg'); margin-top: 35px">
        <form ng-submit="sellProds(sale)" class="card" style="padding-top: 10px">
            <div class="list"  ng-hide="print==1">
                <div class="item-input-inset item item-input item-stacked-label">
                    <span class="input-label">Sale Note:</span>
                    <label>
                        <textarea rows="2" ng-model="sale.paymentNote"></textarea>
                    </label>

                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Paying By
                    </div>
                    <select ng-model="sale.payBy" ng-change="changePayment()">
                        <option value="Cash">Cash</option>
                        <option value="Credit">Credit</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Mpesa">Mpesa</option>
                        <option value="Airtel Money">Airtel Money</option>
                    </select>
                </label>


                <div class="item item-input">
                    <span class="input-label">Amount Paid Kshs.</span>
                    <input type="number" ng-model="sale.TotalAmount" ng-value="0">
                </div>

                <div class="item item-input" ng-show="sale.payBy == 'Mpesa' || sale.payBy == 'Airtel Money'">
                    <span class="input-label">Trans. Code</span>
                    <input type="text" ng-model="sale.trans_code">
                </div>

                <div class="item item-input" ng-show="sale.payBy == 'Cheque'">
                    <span class="input-label">Cheque No.</span>
                    <input type="text" ng-model="sale.cheque_no">
                </div>

                <div class="item item-input" ng-show="sale.payBy == 'Credit'">
                    <span class="input-label" id="datetimepicker">Due Date</span>
                    <input type="text" ng-model="sale.due_date">
                </div>
                <!--
                <ionic-datepicker idate="currentDate" disablepreviousdates="true"  callback="datePickerCallback">
                    <button class="button button-block button-positive" type="button"> {{ currentDate | date:'dd - MMMM - yyyy' }}    </button>
                </ionic-datepicker>-->


                <div class="item item-input">
                    <span class="input-label">Total Items</span>
                    <span><input type="text" readonly ng-value="getItems()"></span>
                </div>

                <div class="item item-input">
                    <span class="input-label">Discount Amount kshs.</span>
                    <span><input type="number" ng-model="sale.discount" ng-value="0"></span>
                </div>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Taxation:
                    </div>
                    <select ng-model="sale.taxPercentage" ng-change="changeTax()">
                        <option value="0">No Tax</option>
                        <option value="16">16% Tax</option>
                    </select>
                </label>
                <div class="item item-input">
                    <span class="input-label">Tax Amount:</span>
                    <span><input type="text" readonly ng-model="sale.taxAmount"></span>
                </div>

                <div class="item item-input">
                    <span class="input-label">Total Payable Kshs: </span>
                    <input type="hidden" ng-model="sale.totalPayable">
                    <span><input type="text" readonly  ng-value="getTotal()"></span>
                </div>

                <div class="item item-input" ng-show="getBalance()>=0">
                    <span class="input-label">Balance Kshs: </span>
                    <input type="hidden"   ng-model="sale.balance">
                    <span><input type="text" readonly ng-value="getBalance()"></span>
                </div>

                <div class="item item-input" ng-show="getBalance()<0">
                    <span class="input-label">Due Amount Kshs: </span>
                    <input type="hidden"  ng-model="sale.dueAmount" >
                    <span><input type="text" readonly ng-value="getDueAmount()"></span>
                </div>


                <label class="item">
                    <button class="button button-block btn-myButton" type="submit" >
                        <i class="ion ion-ios-paperplane"></i>&nbsp;Submit</button>
                </label>

            </div>
            <div ng-show="print==1">
                <div class="card" style="padding-top: 10px;">
                    <div class="padding">
                        <h2>UzaPoint</h2>
                        <p>PO. Box 4916 00506, Nairobi</p>
                        <p>Date: {{date | date:'yyyy-MM-dd'}}</p>
                        <p>RECEIPT</p>
                    </div>
                    <div class="padding" style="text-align: left">
                        <p class="row" ng-repeat="item in shoppingList">
                            <span class="col">{{item.item_name}}</span>
                            <span class="col">Unit Price: {{item.product_price| currency: 'Kshs. '}}</span>
                            <span class="col">x {{item.quantity}}</span>
                            <span class="col">Price: {{item.quantity * item.product_price | currency: 'Kshs. '}}</span>
                        </p>
                    </div>
                    <div class="padding" style="text-align: left">
                        <p>
                            <span class="col"></span>
                            <span class="col"></span>
                            <span class="col">Total Kshs. {{TotalAmount(shoppingList)}}</span>
                        </p>
                        <p>
                            <button class="button  btn-myButton button-block">Print</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>

        <!--
         <div class="bar bar-header item-input-inset">
             <label class="item-input-wrapper">
                 <i class="icon ion-ios-search placeholder-icon"></i>
                 <input type="search" placeholder="Search for customer" ng-model="searchProd">
             </label>
         </div>

         <div class="card" style="padding-top: 10px;">
             <h2>UzaPoint</h2>
             <p>PO. Box 4916 00506, Nairobi</p>
             <p>Date: {{{{Date.now() | date:'yyyy-MM-dd'}}}}</p>
             <p>Receipt</p>
             <div class="padding" style="text-align: left">
                 <p ng-repeat="item in shoppingList">
                     <span class="col">{{item.item_name}}</span>
                     <span class="col">* {{item.quantity}}</span>
                     <span class="col">Unit Price Kshs.{{item.product_price}}</span>
                 </p>
             </div>
             <div class="padding" style="text-align: left">
                 <p>
                     <span class="col"></span>
                     <span class="col"></span>
                     <span class="col">Total Kshs. {{sale.TotalAmount}}</span>
                 </p>
             </div>
         </div>
        -->

    </ion-content>
</ion-modal-view>